<div class="d-flex justify-content-center" style="margin-bottom: 3rem;">
    <div class="order-2 order-lg-1" *ngIf="(accountService.$currentUser | async) as user">
        <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">
            Settings</p>
        <p class="text-center fst-italic">
            @{{user.username}}</p>
        <nav ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
            <ng-container ngbNavItem>
                <a ngbNavLink>Profile</a>
                <ng-template ngbNavContent>
                    <app-profile-settings></app-profile-settings>
                </ng-template>
            </ng-container>
            <!-- <ng-container ngbNavItem>
                <a ngbNavLink>Notifications</a>
                <ng-template ngbNavContent>

                </ng-template>
            </ng-container> -->
            <ng-container ngbNavItem>
                <a ngbNavLink>Settings</a>
                <ng-template ngbNavContent>
                    <div style="white-space: normal;">
                        <app-app-settings></app-app-settings>
                    </div>
                </ng-template>
            </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>